.git
.gitignore

.env
.env.*
!.env.example

*.pem
*.key
*.crt

node_modules
npm-debug.log

logs
reports
host-data
*.log

scripts

README.md
notes.md
commands.md
compose-cheatsheet.md

compose.yaml
compose.*.yaml