GATEWAY_BIND_IP=127.0.0.1
GATEWAY_HOST_PORT=8095
API_DIRECT_PORT=8096
POSTGRES_HOST_PORT=5433

APP_NAME=compose-overrides-api
APP_ENV=development

POSTGRES_DB=devopsdb
POSTGRES_USER=devops
POSTGRES_PASSWORD=change-me-development-only