.git
.gitignore

.env
.env.*
!.env.example

*.pem
*.key
*.crt

node_modules
npm-debug.log

logs
reports
*.log

db
scripts

README.md
notes.md
commands.md
adminer-networks-cheatsheet.md

compose.yaml
compose.*.yaml