AWS_AUTH_MODE=sso
AWS_PROFILE=devops-lab-provisioner
AWS_REGION=us-east-1
AWS_OUTPUT=json

LAB_NAME=devops-lab
PROJECT_TAG=devops-lab
ENVIRONMENT=learning
OWNER_TAG=bernardo
MANAGED_BY=aws-cli

VPC_CIDR=10.50.0.0/16
PUBLIC_SUBNET_CIDR=10.50.1.0/24
PUBLIC_SUBNET_AZ=

HTTP_PORT=80
HTTP_ALLOWED_CIDR=203.0.113.10/32

INSTANCE_NAME=devops-lab-web
INSTANCE_TYPE=t3.micro
ROOT_VOLUME_SIZE_GB=8

AMI_SSM_PARAMETER=/aws/service/ami-amazon-linux-latest/al2023-ami-kernel-default-x86_64

INSTANCE_ROLE_NAME=DevOpsLabEc2Role
INSTANCE_PROFILE_NAME=DevOpsLabEc2Profile