.git
.gitignore

.env
.env.*
*.pem
*.key
*.crt

env
broken
scripts

node_modules
npm-debug.log

logs
reports
*.log

db
gateway

README.md
notes.md
commands.md
troubleshooting-checklist.md

compose.yaml
compose.*.yaml