GATEWAY_BIND_IP=127.0.0.1
GATEWAY_HOST_PORT=8099
API_DIRECT_PORT=8100
ADMINER_HOST_PORT=8101
POSTGRES_HOST_PORT=5434

APP_NAME=production-like-compose-api
APP_ENV=development

POSTGRES_DB=devopsdb
POSTGRES_USER=devops