.git
.gitignore

.env
.env.*
!.env.example

*.pem
*.key
*.crt

node_modules
npm-debug.log

logs
reports
host-data
volume-output
*.log

README.md
notes.md
commands.md
api-docker-cheatsheet.md
week-02-recap.md
scripts